{% extends 'base.html' %}

{% block content %}
<body>
<div class="overlay"></div>

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
        
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">NAMI</h1>
              <p class="mb-5">Offering a wide range of services for those dealing with mental illness and their families</p>
             
              </div>

            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">Support</h1>
              <p class="mb-5">Group support, education, and social opportunities</p>

          </div>
                <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">Advocacy</h1>
              <p class="mb-5">Helping those in need find housing and other necessities, legal counsel, and other services</p>

              </div>
                <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">Contact</h1>
              <p class="mb-5">In a crisis? We're here to listen. Call: 12345677</p>
                   <p class="mb-5">Other inquiries call: 12345677</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

{% endblock %}
