{% extends 'base.html' %}

{% block content %}
<div class="overlay"></div>

      <div class="masthead-bg"></div>
<div class="row">
    <div class="col">
<h1 class="mb-3">NAMI</h1>
              <p class="mb-5">Offering a wide range of services for those dealing with mental illness and their families</p>




              <h1 class="mb-3">Support</h1>
              <p class="mb-5">Group support, education, and social opportunities</p>



              <h1 class="mb-3">Advocacy</h1>
              <p class="mb-5">Helping those in need find housing and other necessities, legal counsel, and other services</p>



              <h1 class="mb-3">Contact</h1>
              <p class="mb-5">In a crisis? We're here to listen. Call: 12345677</p>
                   <p class="mb-5">Other inquiries call: 12345677</p>
    </div>

        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">

            <!-- Fluid width widget -->
    	    <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-calendar"></span> 
                        Calendar Events
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                                <div class="panel panel-danger text-center date">
                                    <div class="panel-heading month">
                                        <span class="panel-title strong">
                                            Mar
                                        </span>
                                    </div>
                                    <div class="panel-body day text-danger">
                                        23
                                    </div>
                                </div>
                            </div>
                            <div>&nbsp &nbsp &nbsp &nbsp</div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Pulvinar Mauris Eu
                                </h4>
                                <p>
                                    Vivamus pulvinar mauris eu placerat blandit. In euismod tellus vel ex vestibulum congue.
                                </p>
                            </div>
                        </li>
                         <li class="media">
                            <div class="media-left">
                                <div class="panel panel-danger text-center date">
                                    <div class="panel-heading month">
                                        <span class="panel-title strong">
                                            Mar
                                        </span>
                                    </div>
                                    <div class="panel-body day text-danger">
                                        23
                                    </div>
                                </div>
                            </div>
                            <div>&nbsp &nbsp &nbsp &nbsp</div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Pulvinar Mauris Eu
                                </h4>
                                <p>
                                    Vivamus pulvinar mauris eu placerat blandit. In euismod tellus vel ex vestibulum congue.
                                </p>
                            </div>
                        </li>
                         <li class="media">
                            <div class="media-left">
                                <div class="panel panel-danger text-center date">
                                    <div class="panel-heading month">
                                        <span class="panel-title strong">
                                            Mar
                                        </span>
                                    </div>
                                    <div class="panel-body day text-danger">
                                        23
                                    </div>
                                </div>
                            </div>
                            <div>&nbsp &nbsp &nbsp &nbsp</div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Pulvinar Mauris Eu
                                </h4>
                                <p>
                                    Vivamus pulvinar mauris eu placerat blandit. In euismod tellus vel ex vestibulum congue.
                                </p>
                            </div>
                        </li>

                    </ul>
                    <a href="/events/calendar/" class="btn btn-default btn-block">More Events »</a>
                </div>
            </div></div>
</div></div>

{% endblock %}
