 {% extends 'base.html' %}
 {% block content %}
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="overlay"></div>

      <div class="masthead-bg"></div>
<div class="row">
    <div class="col" style="background-color: rgba(0, 46, 102, 0.8)">
<div class="masthead-content text-white py-5 py-md-0">
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Headline 1</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="w3-third w3-container">
     
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">PICTURE</p>
       <p class="w3-border w3-padding-large w3-padding-32 w3-center">LINK</p>
    </div>
  </div>

</div>

 <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Headline</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="w3-third w3-container">
     
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">PICTURE</p>
       <p class="w3-border w3-padding-large w3-padding-32 w3-center">LINK</p>
    </div>
  </div>

</div>
            
  {% endblock %}
